body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #22C55E;
    font-family: Arial, sans-serif;
}
.container {
    background: #000;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}
.container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.container label {
    display: block;
    margin-bottom: 10px;
}
.container input[type="date"] {
    width: calc(100% - 3px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}
.container input[type="date"]:focus {
    outline: none;
}
.container button {
    width: 50%;
    padding: 10px;
    background: #ff5722;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.container button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
}
.container button:hover::before {
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    transform: translate(-50%, -50%) rotate(45deg);
    transition: width 0.5s ease, height 0.5s ease;
}
.result {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ff5722;
    border-radius: 5px;
}
.result div {
    text-align: center;
}
.result .age {
    font-size: 24px;
    color: #fff;
}
.result .age #age {
    color: #ff5722;
}
.result .birthday {
    font-size: 24px;
    color: #ff5722;
}
.result .birthday i {
    font-size: 30px;
    color: #ffeb3b;
    background: linear-gradient(to bottom, #ffeb3b 50%, #795548 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}